.container {
    padding: 2rem;
    overflow-y: auto;
    height: 100vh;
    background-image: url('/src/assets/images/background_white.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.title {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}