/*  Contenedor principal */
.container {
    text-align: center;
    padding: 30px;
    background-color: #ECF0F1; /* Fondo gris claro */
    background-size: cover;
    min-height: 90vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.cartContainer {
    width: 90%;
    max-width: 1200px;
    padding: 30px;
    background-color: white; /* Fondo blanco limpio */
    border-radius: 20px;
    box-shadow: 0px 5px 20px rgba(44, 62, 80, 0.1); /* Sombra sutil */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*  T铆tulo con mayor visibilidad */
.title {
    font-size: 50px;
    font-weight: bold;
    color: #2C3E50; /* Azul marino oscuro */
    text-align: center;
    margin-bottom: 40px;
    box-shadow: 0px 4px 20px rgba(52, 152, 219, 0.3); /* Sombra azul sutil */
    font-family: 'Montserrat', sans-serif;
}

/*  T铆tulo con mayor visibilidad */
.totalTitle {
    font-size: 50px;
    font-weight: bold;
    color: #2C3E50; /* Azul marino oscuro */
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
}

/*  Mensaje cuando el carrito est谩 vac铆o */
.emptyCart {
    font-size: 22px;
    color: #3498DB; /* Azul el茅ctrico */
    text-align: center;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

/*  Lista de productos */
.cartList {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 100px;
}

/*  Pie de p谩gina con bot贸n de confirmaci贸n */
.footer {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

/*  Bot贸n de Confirmar Pedido */
.confirmButton {
    margin-top: 100px;
    padding: 15px 25px;
    font-size: 28px;
    font-weight: bold;
    color: white;
    background-color: #E74C3C; /* Rojo anaranjado */
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0px 4px 10px rgba(231, 76, 60, 0.3);
}

.confirmButton:hover {
    background-color: #F1C40F; /* Amarillo dorado */
    transform: scale(1.05);
}

/* Bot贸n de regreso */
.backButton {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 15px 25px;
    font-size: 28px;
    font-weight: bold;
    color: white;
    background-color: #3498DB; /* Azul el茅ctrico */
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 100;
    box-shadow: 0px 4px 10px rgba(44, 62, 80, 0.2);
    font-family: 'Open Sans', sans-serif;
}

.backButton:hover {
    background-color: #E74C3C; /* Rojo anaranjado */
    transform: scale(1.05);
}

/*  Optimizaci贸n para pantallas t谩ctiles */
@media screen and (max-width: 768px) {
    .cartContainer {
        width: 100%;
        padding: 20px;
    }
    
    .title {
        font-size: 28px;
    }

    .confirmButton {
        font-size: 22px;
        padding: 12px 25px;
    }
}