.container {
    width: 100%;
    padding: 2rem;
    text-align: center;
    background: linear-gradient(to bottom, #A8C924, #6E9522);
    color: white;
    box-sizing: border-box;
    justify-content: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 150px;
    margin-bottom: 1rem;
}

.message {
    font-size: 2rem;
    font-weight: bold;
}

.subMessage {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

.thankYouIcon {
    font-size: 4rem;
    margin-top: 1rem;
    animation: bounce 1.5s infinite;
    margin-bottom: 100px;
}

.hiddenReceipt {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}