* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik-Variable', sans-serif;
}
  
html, body {
    height: 100vh;
    height: 100dvh;
    overflow: hidden;
    font-family: 'Rubik-Variable', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
#root {
    height: 100vh;
    height: 100dvh;
}