.container {
    text-align: center;
    padding: 30px;
    background-color: #f5f5f5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 40px;
    font-weight: bold;
    color: #D9542B;
    margin-bottom: 60px;
}

.subtitle {
    font-size: 30px;
    font-weight: bold;
    margin-top: 60px;
}

.userData {
    background: rgba(168, 201, 36, 0.2);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    text-align: left;
}

.userData p {
    margin: 5px 0;
    font-size: 20px;
}

.qrContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.qrItem {
    margin: 15px;
    text-align: center;
    position: relative;
    border-radius: 8px;
}

.qrLabel {
    margin: 5px 0;
    font-size: 25px;
}

.continueButton {
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 1.2rem;
    background-color: #D9542B;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.continueButton:hover {
    background-color: #A83E1F;
}